body{
    box-sizing: border-box;
    font-family: fantasy;
    padding: 90px 20px 0;
    background-color: gray;

}
.header{
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
}
.logo{
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0 auto;
}
.nav-menu{
    display: flex;
    padding: 0 40px;
    list-style: none;
    
}
.nav-link{
    text-decoration: none
}
.nav-menu-item{
    font-size: 25px;
    margin: 0 50px;
    line-height: 60px;
}
.nav-menu-link{
    padding: 8px 12px;
    transition: 0.5;
}
.nav-menu-link:hover{
    background-color: blue;
    border-radius: 10px;
}
aside{
    position: fixed;
    background-color: black;
    top: 90px;
    left: 0;
    bottom: 0;
    width: 20%;
    font-family: cursive;
}
section{
    overflow-y: scroll;
    position: fixed;
    top: 90px;
    left: 20%;
    bottom: 0;
    width: 80%;
    font-family: cursive;
    color: whitesmoke;
}
